{%extends 'base1.html'%}
{%load static%}
{%block data%}
    <div class="container">
        <br><br><br><br><br>
        <div class="card text-white bg-info">
            <div class="card-header">
                List of USERS
            </div>
            <div class="card-body text-white">
                <table class="table text-white table-bordered-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in z%}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.mobile}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock%}